
#featurify .red {
	color:#f00;
}
#featurify .error {
	background:#fdd9d9 url(../images/error.gif) 10px 40% no-repeat;
	border:1px solid #fba3a3;
	color:#d80303;
	font-size:12px;
	font-weight:bold;
	padding:5px 5px 5px 30px;
}
#featurify .success {
	background:#e4fcd9 url(../images/enabled.gif) 10px 40% no-repeat;
	border:1px solid #bffda3;
	color:#35a502;
	font-size:12px;
	font-weight:bold;
	padding:5px 5px 5px 30px;
}